{% extends 'CPSEAPIProjectBundle::layout.html.twig' %}


{% set customActiveRoute = 'project' %}
{% block title %} {{ 'Project edit'|trans({},'project') }} {{ edit_form.name.vars.value }} {% endblock %}

 {% block page_header_title %} {{ 'Project edit'|trans({},'project') }} {{ "'" ~ edit_form.name.vars.value ~ "'" }} {% endblock %}

{% block page_data %}

<div class="col-md-12">
    <div class="col-md-6">

    <form action="{{ path('project_update', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
                  <div class="form-group col-md-12 row">
            			<div class="col-md-6 row">
                        {% set category_label %}{{ edit_form.category.vars.name|capitalize|trans({},'project') }} {% endset %}
                        {{ form_label(edit_form.category,category_label) }}
                        {{ form_widget(edit_form.category, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.category) }}
                        </div>
                    </div>
                    <div class="form-group col-md-12 row">
                        <div class="col-md-4 row">
                            {% set project_code_label %}{{ edit_form.project_code.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.project_code,project_code_label) }}
                            {{ form_widget(edit_form.project_code, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.project_code) }}
                        </div>
                		<div class="col-md-8 row inline-control">
                            {% set name_label %}{{ edit_form.name.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.name,name_label) }}
                            {{ form_widget(edit_form.name, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.name) }}
                        </div>
                    </div>
                    <div class = "col-md-12 row">
                		<div class="form-group col-md-3 col-sm-6 row">
                            {% set start_label %}{{ edit_form.start.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.start,start_label) }}
                            {{ form_widget(edit_form.start, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.start) }}
                        </div>
                        <div class="form-group row col-md-3 col-sm-6 inline-control">
                            {% set end_label %}{{ edit_form.end.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.end,end_label) }}
                            {{ form_widget(edit_form.end, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.end) }}
                        </div>
                    </div>        	            	            		
                    <div class="form-group form-group col-md-12 row">
                    	<div class="col-md-6 row">
                            {% set pm_label %}{{ edit_form.pm.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.pm,pm_label) }}
                            {{ form_widget(edit_form.pm, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.pm) }}
                        </div>
                    </div>
                            	            	            		<div class="form-group">
                        {% set description_label %}{{ edit_form.description.vars.name|capitalize|trans({},'project') }} {% endset %}
                        {{ form_label(edit_form.description,description_label) }}
                        {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.description) }}
                    </div>
                    <div class="form-group">
                        {% set members_label %}{{ edit_form.members.vars.name|capitalize|trans({},'project') }} {% endset %}
                        {{ form_label(edit_form.members,members_label) }}
                        {{ form_widget(edit_form.members, {'attr':{'class':'form-control'}}) }}
                        {{ form_errors(edit_form.members) }}
                    </div>
                   <div class="form-group form-group col-md-12 row">
                    	<div class="col-md-4 row">
                            {% set status_label %}{{ edit_form.status.vars.name|capitalize|trans({},'project') }} {% endset %}
                            {{ form_label(edit_form.status,status_label) }}
                            {{ form_widget(edit_form.status, {'attr':{'class':'form-control'}}) }}
                            {{ form_errors(edit_form.status) }}
                        </div>
                    </div>
                            	            	            		
                            	            	{{ form_rest(edit_form) }}
            <p>
                <button type="submit" class="btn btn-success pull-right">
                	<i class="glyphicon glyphicon-edit" aria-hidden="true"></i>        
                     {{ 'Update'|trans({},'common') }}
                </button>
            </p>
    </form>
</div>
</div>


<div class="col-md-12 actions-list">
</div>
<div class="col-md-12 back-link">
	<a href="{{ path('project') }}">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
             {{ 'Back to the list'|trans({},'common') }}
        </a>
</div>{% endblock %}
{% block inlinescripts %}
	{{ form_javascript(edit_form) }}
	<script type="text/javascript" src="{{ asset('js/combobox.js') }}"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            var notFoundError = "{{ 'did not match any item'|trans({}, 'project') }}";
			var memebersEl = $('[id$="pm"]').combobox({'notFoundError':notFoundError});
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/multi-autocomplete.js') }}"></script>
	<script type="text/javascript">
    	$(document).ready(function(){
            var notFoundError = "{{ 'did not match any item'|trans({}, 'project') }}";
            var inputLabel = "{{ 'Add more member'|trans({}, 'project') }}";
            var duplicatedError = "{{ 'Member has been added!'|trans({}, 'project') }}";
    		$('[id$="members"]').multi_autocomplete({'notFoundError':notFoundError,
    												'inputLabel': inputLabel,
    												'duplicatedError': duplicatedError});
        });
    </script>
{% endblock %}