{% extends 'CPSEAPIProjectBundle::layout.html.twig' %}

{% set customActiveRoute = 'project' %}

{% block title %} {{ 'Project'|trans({},'project') }} {{ document.name }}{% endblock %}
{% block page_header %}
    <div class="project-summary">
    	<h1>{{ document.name }}</h1>
        <div class="project-description">{{ document.description }}</div>
    </div>
{% endblock %}

{% block page_data %}
{% include '::projecttopnavbar.html.twig' with {'project': document} only %}
<div class="project-infor col-md-12">
	<div class="col-md-12">
        	<div class="col-md-8"></div>
        	<div class="col-md-4">
        		{% set curCatId = '' %}
                {% if currentCategory%}
        			{% set curCatId = currentCategory.id %}
        		{% endif %}
            	<a class="btn btn-success pull-right" href="{{ path('document_new',{'catId': curCatId}) }}">
                	<i class="fa fa-upload"></i>        
                 {{ 'Upload'|trans({},'common') }}
                </a>
                <a class="btn btn-default pull-right" href="{{ path('document_folder_new',{'catId': curCatId}) }}">
                	<i class="fa fa-folder"></i>        
                 {{ 'New category'|trans({},'document') }}
                </a>
        	</div>
        </div>
	<div class="col-md-6 no-padding">
		<table class="table table-striped data-table">
			<thead>
				<tr>
                    <td><label>{{'Project_code'|trans({},'project') }}</label></td>
                    <td>{{ document.projectcode }}</td>
            	</tr>
			</thead>
			<tbody>				        
			
			<tr>
                <th>{{'Name'|trans({},'project') }}</th>
                <td>{{ document.name }}</td>
            </tr>
            <tr>
                <th>{{'Start'|trans({},'project') }}</th>
                <td>{{ document.start|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>{{'End'|trans({},'project') }}</th>
                <td>{{ document.end|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>{{'Category'|trans({},'project') }}</th>
                <td>{{ document.category }}</td>
            </tr>
            <tr>
                <th>{{'Pm'|trans({},'project') }}</th>
                <td>{{ document.pm }}</td>
            </tr>
            <tr>
                <th>{{'Status'|trans({},'project') }}</th>
                <td>{{ document.status }}</td>
            </tr>
            <tr>
                <th>{{'Created_by'|trans({},'common') }}</th>
                <td>{{ document.createdBy }}</td>
            </tr>
            <tr>
                <th>{{'Created_on'|trans({},'common') }}</th>
                <td>{{ document.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{'Updated_on'|trans({},'project') }}</th>
                <td>{{ document.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{'Updated_by'|trans({},'project') }}</th>
                <td>{{ document.updatedBy }}</td>
            </tr>
        </tbody>
		</table>
        
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{'Members'|trans({},'project') }}</h3>
          </div>
          <div class="panel-body">
            {% for member in document.members %}
        		<div>{{ member }}</div>
        	{% endfor %}
          </div>
        </div>
	</div>
	
    
    
</div>

<div class="col-md-12 actions-list">
    <div class="action">
    	<a class="btn btn-info" href="{{ path('project_edit', { 'id': document.id }) }}">
            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
            {{ 'Edit'|trans({},'common') }}
        </a>
    </div>
    <div class="action">
    	<form class="delete-form" action="{{ path('project_delete', { 'id': document.id }) }}" medivod="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">
            	<i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                {{ 'Delete'|trans({},'common') }}
            </button>
        </form>
    </div>
</div>
<div class="col-md-12 back-link">
	<a href="{{ path('project') }}">
            <i class="glyphicon glyphicon-arrow-left" aria-hidden="true"></i>
             {{ 'Back to dive list'|trans({},'common') }}
        </a>
</div>{% endblock %}
